<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>
<body>
  <ul sec:authorize="isAnonymous()">
    <li><a href="/member/join">회원가입</a></li>
    <li><a href="/member/login">로그인</a></li>
  </ul>
  <form sec:authorize="isAuthenticated()" action="/member/logout" method="post">
    <button>로그아웃</button>
  </form>
</body>
</html>